<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot_name">

    <joint name="Rigid 21" type="fixed">
        <origin xyz="-0.028 0.028 0.0296" rpy="0 0 0"/>
        <parent link="lidarBase_v2_1"/>
        <child link="LidarTop_v1_1"/>
    </joint>

    <link name="LidarTop_v1_1">
        <inertial>
            <origin xyz="-0.00023825807528363684 -0.00028540122623983005 0.013754821872220838" rpy="0 0 0"/>
            <mass value="0.8072969283155749"/>
            <inertia ixx="0.000301" iyy="0.000294" izz="0.000491" ixy="2e-06" iyz="-0.0" ixz="-0.0"/>
        </inertial>
        <visual>
            <origin xyz="-0.013917 -0.054915 -0.088598" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://slambot_description/meshes/LidarTop_v1_1.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="opaque202209238"/>
        </visual>
        <collision>
            <origin xyz="-0.013917 -0.054915 -0.088598" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://slambot_description/meshes/LidarTop_v1_1.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>

    <gazebo reference ="LidarTop_v1_1">
        <material>Gazebo/Red</material>
        <sensor name="laser" type="ray">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <update_rate>10</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>360</samples>
                        <resolution>1</resolution>
                        <min_angle>-3.14</min_angle>
                        <max_angle>3.14</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.3</min>
                    <max>12</max>
                    <resolution>0.01</resolution>
                </range>
            </ray>
            <plugin name="laser_controller" filename="libgazebo_ros_ray_sensor.so">
                <ros>
                    <argument>~/out:=scan</argument>
                </ros>
                <output_type>sensor_msgs/LaserScan</output_type>
                <frame_name>odom</frame_name>

            </plugin>
        </sensor>
    </gazebo>

</robot>